<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <div class="main">
      <h3>PekaBoo...</h3>
      <form action="/chats/new" method="get">
        <button>New Chat</button>
      </form>
      <div class="chats">
        <% for(chat of chats){ %>
        <div class="chat">
          <form method="get" action="/chats/<%= chat._id %>/edit" >
            <button  style="background-color: hotpink">Edit</button>
          </form>
          <p>From : <%= chat.from %></p>
          <div class="msg">
            <p><%= chat.msg %></p>
          </div>
          <p>Received by : <%= chat.to %></p>
          <p><%= chat.created_at.toString().split(" ")[4] %></p>
          <p>
            <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
          </p>

          <form action="/users/<%= chat._id%>?_method=DELETE" method="post" >
            <Button style="background-color: crimson;">Delete</Button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
